# Core frameworks
torch==2.8.0
tensorflow==2.15.0
keras==2.15.0

# YOLO and related
ultralytics==8.3.227
supervision

# Data handling and preprocessing
numpy==2.0.2
pillow==11.2.1
opencv-python-headless==4.10.0.84
matplotlib==3.10.0
PyYAML==6.0.2
python-dateutil
tqdm
requests

# Roboflow integration (if used for annotation/export)
roboflow==1.1.63
